body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 9.625rem;
  color: #66BFBF;
                                           /*100% == 16px == 1em*/
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
hr{
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  color: gray;
}
.bottom-cloud{
  position: absolute;
  left: 25%;
}
.clear{
  clear: both;
}
.profile{
  padding-top: 100px;
  width: 50%;
  margin: auto auto 100px auto;
  font-size: 1.5rem;
}
.profile img{
  width: 25%;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row-skill{
  margin: auto 30px auto auto;
  width: 25%;
  float: left;
}
.skill-row-research{
  float: right;
  width: 25%;

}

.top-container{
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;

}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 30%
}
